# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Environment
NEXT_PUBLIC_ENV=development

# Cross-application links
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3001
